# This is a basic workflow to help you get started with Actions

name: PLaywright tests

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule: 
    # nightly
    - cron: '0 0 * * *'
    
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14'
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright
      run: npx playwright install --with-deps
    - name: Install Azure static web apps
      run: npm install @azure/static-web-apps-cli
    - name: Install Azure function apps
      run: npm i -g azure-functions-core-tools@3 --unsafe-perm true
    - name: Start web app and function app
      run: swa start http://localhost:5000 --run "dotnet run --project Client/Client.csproj" --api-location Api
    - name: Run your tests
      run: npx playwright test
